<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <form class="form-container" action="/login" method="POST">
      <h2>Login !</h2>
      <input
        type="email"
        name="email"
        value="<%= locals.email %>"
        placeholder="enter your email"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="enter your password"
        required
      />
      <p class="error"><%= locals.message1 %></p>
      <p class="error"><%= locals.message %></p>
      <input class="btn" type="submit" value="login" />
    </form>
  </body>
</html>
